<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Repped.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DBC80E8A1E4B840E00A3CCBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBC80E9E1E4B840F00A3CCBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DBC80EA91E4B840F00A3CCBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
